.logo {
  text-align: center;
  margin: 16px 0;
  height: 64px;
}
.logo h1 {
  font-size: 48px;
  vertical-align: middle;
}
.logo img {
  height: 56px;
  widows: 56px;
  float: left;
  padding: 4px;
}
.clear {
  clear: both;
}
#ssid, #mac {
  text-align: center;
}
.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
}